<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./templates/header')%>
</head>

<body>
    <%- include('./templates/navbar')%>
    <div class="container-fluid" style="background-color: #eae2f6;">
        <br>
        <div class="container">
            <%if(works.length){%>
                <div class="table-responsive">
                <table class="table bm-2 align-middle table-hover table-striped text-center ">
                    <thead style="color: rgb(255, 255, 255); background-color: #3d378f;">
                        <th>Aplico al <br>trabajo</th>
                        <th>Numero de <br>cedula</th>
                        <th>Nombres</th>
                        <th>Genero</th>
                        <th>Ubicación</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>perfil / <br>profesional</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <% works.forEach(work=> { %>
                            <% work.candidates.forEach(candidate=> { %>
                                <tr>
                                    <td>
                                        <%= work.cargo.concat(' - (', work.name,')'); %>
                                    </td>
                                    <td>
                                        <%= candidate.idPerson %>
                                    </td>
                                    <td>
                                        <%= candidate.names %>
                                    </td>
                                    <td>
                                        <%= candidate.genAux %>
                                    </td>
                                    <td>
                                        <%= candidate.city %>
                                    </td>
                                    <td>
                                        <%= candidate.address %>
                                    </td>
                                    <td>
                                        <%= candidate.phone %>
                                    </td>
                                    <td>
                                        <%= candidate.email %>
                                    </td>
                                    <td>
                                        <%= candidate.professionalProfile %>
                                    </td>
                                    
                                    <td>
                                        <div class="d-grid gap-2 d-md-block">
                                            <a class="btn btn-outline-success" href="/insertPerson/<%= work.num %>" role="button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                                    class="bi bi-node-plus-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M11 13a5 5 0 1 0-4.975-5.5H4A1.5 1.5 0 0 0 2.5 6h-1A1.5 1.5 0 0 0 0 7.5v1A1.5 1.5 0 0 0 1.5 10h1A1.5 1.5 0 0 0 4 8.5h2.025A5 5 0 0 0 11 13zm.5-7.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2a.5.5 0 0 1 1 0z" />
                                                </svg>
                                            </a>
                                            <a class="btn btn-outline-danger" href="/deleteWork/<%= work.num %>" role="button">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                                    class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                                    <path
                                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                                                </svg>
                                            </a>
                                        </div>
                                    </td>
                
                                </tr>
                            <%})%>
                        <%})%>
                        
                    </tbody>
                </table>
            </div>
            <%}else{%>
                <h5>No hay Registros</h5>
            <%}%>

        </div>
    </div>
   

    <%- include('./templates/footer')%>

</body>

</html>