<!doctype html>
<html lang='es'>

<head>
  <%- include('./templates/header')%>
</head>

<body>

  <%- include('./templates/navbar')%>


    <div class="container-fluid" style="background-color: #eae2f6;">
      <br>
      <div class="container">
         <!-- CARDS -->
      <div class="row row-cols-1 row-cols-md-2 g-4">

        <div class="col">
          <div class="card h-100">
            <img src="https://blog.trello.com/hs-fs/Goal-Planning-final.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Agregar un empleo</h5>
              <p class="card-text">Puedes agregar un empleo y ayudar a personas que necesiten de un trabajo, de esta
                manera contibuyes a sun insersión laoral y por tanto a un mejor futuro.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <img src="https://blog.trello.com/hubfs/download%20(86)-1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Elije un empelo</h5>
              <p class="card-text">Puedes postularte a los diversos empleos que la comunidad a agregado para poner a tu
                disposición, (antes de inscribirte valida que cumples con todos los requisitos del empleo para que
                tengas más oportunidades de conseguirlo) .</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>


      <br>
      <%if(students.length){%>
        <div class="table-responsive">
          <table class="table bm-2 align-middle table-hover table-striped text-center ">
            <thead style="color: rgb(255, 255, 255); background-color: #3d378f;">
              <th>#num</th>
              <th>Cargo</th>
              <th>Empresa</th>
              <th>Salario</th>
              <th>Genero<br>persona</th>
              <th>Ciudad</th>
              <th>Teléfono</th>
              <th>Correo</th>
              <th>Requisitos / <br>Comentarios</th>
              <th></th>
            </thead>
            <tbody>
              <% students.forEach(student=> { %>
                <tr>
                  <td>
                    <%= student.num %>
                  </td>
                  <td>
                    <%= student.cargo %>
                  </td>
                  <td>
                    <%= student.name %>
                  </td>
                  <td>
                    <%= student.salary %>
                  </td>
                  <td>
                    <%= student.genAux %>
                  </td>
                  <td>
                    <%= student.city %>
                  </td>
                  <td>
                    <%= student.phone %>
                  </td>
                  <td>
                    <%= student.email %>
                  </td>
                  <td>
                    <%= student.comments %>
                  </td>
                  <td>
                    <div class="d-grid gap-2 d-md-block">
                      <a class="btn btn-outline-success" href="/insertPerson" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                          class="bi bi-node-plus-fill" viewBox="0 0 16 16">
                          <path
                            d="M11 13a5 5 0 1 0-4.975-5.5H4A1.5 1.5 0 0 0 2.5 6h-1A1.5 1.5 0 0 0 0 7.5v1A1.5 1.5 0 0 0 1.5 10h1A1.5 1.5 0 0 0 4 8.5h2.025A5 5 0 0 0 11 13zm.5-7.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2a.5.5 0 0 1 1 0z" />
                        </svg>
                      </a>

                      <a class="btn btn-outline-danger" href="/deleteWork/<%= student.num %>" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                          class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                          <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                        </svg>
                      </a>
                    </div>
                  </td>

                </tr>
                <%})%>
            </tbody>
          </table>
        </div>
        <%}else{%>
          <h5>No hay Registros</h5>
          <%}%>

            <a class="btn btn-success" href="/insert" role="button">Nuevo Registro</a>


      </div>

    </div>
    <%- include('./templates/footer')%>
</body>

</html>